<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>croslider</title>
	<link rel="stylesheet" href="font-awesome.min.css" />
</head>
<body>
<div id="container"></div>
<script type="text/javascript">
	window.__data = <%- files%>;
</script>
<script type="text/javascript" src="bundle.js"></script>
</body>
</html>